<%= map(:center => {
    :latlng => [51.9189046, 19.1343786],
    :zoom => 7
  },
  :markers => [
    {
       :latlng => [53.58949121214422, 21.51866558465475],
			 :popup => "<a href='https://www.facebook.com/groups/161965153922255/permalink/4329057083879687/'>Zlot PTMA Warszawa, Krzyże</a>",
    },
		{
       :latlng => [53.062791902614265, 17.681981346035737],
			 :popup => "<a href='http://www.ppsae.pl/2021/09/05/zapraszamy-do-niedzwiad-na-piknik-astronomiczny/'>Obserwatorium astronomiczne w Niedźwiadach</a>",
    }
  ]
) %>
